@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: "absolute";
  z-index: -1;
  top: 0;
  left: 0;
}